body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #3498db, #2c3e50);
  }
  
  h1 {
    color: #ecf0f1;
    font-size: 50px;
  }
  
  #outer-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .box {
    background: #2ecc71;
    color: #ecf0f1;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .box:hover {
    background: #27ae60;
  }
  
  h2, div{
    margin: 10px 0;
    color: #ecf0f1;
  }
  button{
    margin: 10px 0;
    color: #1595b5;
    font-size: 25px;
  }
   
  